#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh $@ --parallel --with autotools-dev,python-support

override_dh_auto_build:
	ronn < doc/midonet-cli.1.ronn > doc/midonet-cli.1
	ronn < doc/midonet-cli-router.1.ronn > doc/midonet-cli-router.1
	ronn < doc/midonet-cli-bridge.1.ronn > doc/midonet-cli-bridge.1
	ronn < doc/midonet-cli-chain.1.ronn > doc/midonet-cli-chain.1
	ronn < doc/midonet-cli-host.1.ronn > doc/midonet-cli-host.1
	ronn < doc/midonet-cli-tunnel-zone.1.ronn > doc/midonet-cli-tunnel-zone.1
	ronn < doc/midonet-cli-port-group.1.ronn > doc/midonet-cli-port-group.1
